@use '../../partials/flex';

.app-welcome {
  width: 100%;
  height: 100%;
  background-color: var(--bg-surface);
  background: url(https://static.coldwire.org/imgs/background.jpg) no-repeat center;
  background-size: cover;

  & > div {
    @extend .cp-fx__column--c-c;
    max-width: 600px;
  }

  &__card {
    padding: 16px;
    background-color: var(--bg-surface);
    border-radius: var(--bo-radius);
  }
  &__logo {
    width: 64px;
    height: 64px;
  }
  &__heading {
    margin: var(--sp-extra-loose) 0 var(--sp-tight);
    color: var(--tc-surface-high);
  }
  &__subheading {
    color: var(--tc-surface-normal);
  }
}